html {
    cursor: url('../image/cursor/default.png'), auto;
}

.item_img {
    animation: item_over 0.5s infinite;
}

.symbol_edit_btn, .item_info_btn {
    animation: button_over 1s infinite;
}

@keyframes item_over {
    0% {
        cursor: url("../image/cursor/item_over_1.png") 10 10, auto;
    }
    25% {
        cursor: url("../image/cursor/item_over_2.png") 10 10, auto;
    }
    50% {
        cursor: url("../image/cursor/item_over_3.png") 10 10, auto;
    }
    75% {
        cursor: url("../image/cursor/item_over_2.png") 10 10, auto;
    }
    100% {
        cursor: url("../image/cursor/item_over_1.png") 10 10, auto;
    }
}

@keyframes button_over {
    0% { 
        cursor: url("../image/cursor/button_over_1.png"), auto;
    }
    50% { 
        cursor: url("../image/cursor/button_over_2.png"), auto;
    }
    100% { 
        cursor: url("../image/cursor/button_over_1.png"), auto;
    }
}