html {
    cursor: url('../image/cursor/default.png'), auto;
}

.item_img, .symbol_edit_btn, .item_info_btn {
    animation: mouseover 0.75s infinite;
}

@keyframes mouseover {
    0% { 
        cursor: url("../image/cursor/mouseover_1.png"), auto;
    }
    
    50% { 
        cursor: url("../image/cursor/mouseover_2.png"), auto;
    }
    
    100% { 
        cursor: url("../image/cursor/mouseover_1.png"), auto;
    }
}