#job_select_win {
    width: 816px;
    height: 632px;
    background-image: url('../image/job_select_win/bg.png');
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

#job_select_win_area {
    width: 740px;
    height: 524px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#job_popup_area {
    width: 740px;
    height: 524px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#job_table {
    width: 558px;
    height: 489px;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#job_page_1, #job_page_2 {
    position: absolute;
}

#job_page_2 {
    visibility: hidden;
}

.job_img {
    background-repeat: no-repeat;
    background-position: center;
    width: 117px;
    height: 117px;
    margin-left: 30px;
    margin-top: 7px;
    float: left;
}

#adventurer, #mikhail, #aran, #luminous, #kinesis, #ark {
    margin-left: 0px;
    clear: both;
}

#adventurer, #dual_blade, #cannon_shooter, #cygnus, #kinesis, #zero, #cadena, #illium {
    margin-top: 0px;
}

#job_btn {
    width: 740px;
    height: 50px;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    z-index: 0;
}

#left_btn {
    background-image: url('../image/job_select_win/left_btn_disabled.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    position: absolute;
    left: 26px;
}

#right_btn {
    background-image: url('../image/job_select_win/right_btn.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    position: absolute;
    right: 26px;
}

#job_select_popup {
    background-image: url('../image/job_select_win/popup/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 214px;
    height: 112px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#xenon_select_popup {
    background-image: url('../image/job_select_win/popup/bg_xenon.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 249px;
    height: 142px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#job_select_popup_title {
    background-repeat: no-repeat;
    background-position: center;
    width: 169px;
    height: 38px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px;
}

#job_select_popup_btns {
    position: absolute;
    width: 122px;
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 12px;
}

#job_select_btn {
    background-image: url('../image/job_select_win/popup/select_btn.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 23px;
    float: left;
}

#job_select_btn:hover, #adventurer_select_btn:hover {
    background-image: url('../image/job_select_win/popup/select_btn_over.png');
}

#job_select_btn:active, #adventurer_select_btn:active {
    background-image: url('../image/job_select_win/popup/select_btn_click.png');
}

#job_cancel_btn {
    background-image: url('../image/job_select_win/popup/cancel_btn.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 23px;
    margin-left: 22px;
    float: left;
}

#job_cancel_btn:hover, #adventurer_cancel_btn:hover {
    background-image: url('../image/job_select_win/popup/cancel_btn_over.png');
}

#job_cancel_btn:active, #adventurer_cancel_btn:active {
    background-image: url('../image/job_select_win/popup/cancel_btn_click.png');
}

#xenon_ok_btn {
    background-image: url('../image/job_select_win/popup/ok_btn.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 23px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 12px;
}

#xenon_ok_btn:hover {
    background-image: url('../image/job_select_win/popup/ok_btn_over.png');
}

#xenon_ok_btn:active {
    background-image: url('../image/job_select_win/popup/ok_btn_click.png');
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: url('../image/cursor/leaf.png') 0 20, auto;
    position: relative;
    font-size: 8.6pt;
    color: #ffffff;
    width: 105px;
    height: 23px;
}

.select-styled {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c0392b;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 5px;
    text-align: left;
    line-height: 20px;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-color: #ffffff transparent transparent;
    position: absolute;
    top: 8px;
    right: 4px;
}

.select-styled:hover {
    background-color: #c0392b;
}

.select-styled:active, .select-styled.active {
    background-color: #c0392b;
}

.select-styled:active:after, .select-styled.active:after {
    top: 4px;
    border-color: transparent transparent #ffffff;
}

.select-options {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
}

.select-options li {
    cursor: url('../image/cursor/leaf.png') 0 20, auto;
    margin: 0;
    height: 20px;
    background: #ffffff;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    border-top: none;
    text-align: left;
    padding-left: 5px;
    line-height: 20px;
}

.select-options li:hover {
    color: #c0392b;
    background: yellow;
}

.select-options li[rel="hide"] {
    display: none;
}

#adventurer_select_popup {
    background-image: url('../image/job_select_win/popup/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 214px;
    height: 112px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#adventurer_class_img {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 74px;
    height: 86px;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
}

#adventurer_selectbox {
    position: absolute;
    top: 12px;
    right: 12px;
}

#adventurer_select_popup_btns {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#adventurer_select_btn {
    background-image: url('../image/job_select_win/popup/select_btn.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 23px;
    float: left;
}

#adventurer_cancel_btn {
    background-image: url('../image/job_select_win/popup/cancel_btn.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 23px;
    margin-left: 5px;
    float: left;
}

#adventurer_selectbox_warrior, #adventurer_selectbox_magician, #adventurer_selectbox_bowman, #adventurer_selectbox_thief, #adventurer_selectbox_pirate {
    margin-top: 5px;
    display: none;
}