#job_select_win {
    width: 816px;
    height: 632px;
    background-image: url('../image/job_select_win/bg.png');
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

#job_table {
    margin-top: 77px;
}

#job_page_1, #job_page_2 {
    width: 685px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#job_page_2 {
    visibility: hidden;
}

.job_img {
    background-repeat: no-repeat;
    background-position: center;
    width: 117px;
    height: 117px;
    margin-left: 25px;
    margin-top: 25px;
    float: left;
    background-image: url('../image/job_select_win/normal/adventurer.png');
}

#adventurer, #resistance, #mercedes, #angelic_burster, #ark {
    margin-left: 0px;
    clear: both;
}

#adventurer, #dual_blade, #cannon_shooter, #cygnus, #mikhail, #angelic_burster, #kinesis, #zero, #cadena, #illium {
    margin-top: 0px;
}

#job_btn {
    width: 816px;
    height: 50px;
    position: absolute;
    bottom: 77px;
}

#left_btn {
    background-image: url('../image/job_select_win/left_btn_disabled.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    position: absolute;
    left: 175px;
    bottom: 0;
}

#left_btn:not(.no-hover):hover {
    background-image: url('../image/job_select_win/left_btn_over.png');
}

#right_btn {
    background-image: url('../image/job_select_win/right_btn.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    position: absolute;
    right: 175px;
    bottom: 0;
}

#right_btn:not(.no-hover):hover {
    background-image: url('../image/job_select_win/right_btn_over.png');
}
